# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
!vendor/bundles/Sonata/AdminBundle/Resources/views/standard_layout.html.twig 
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
